.searchBox {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 80%;
    flex-direction: column;
    background: #E5E5E5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    /*border-radius: 3px;*/

}

.searchBox input {
    transition: 0.3s;
    background-color: #d6d6d6;
    border: none;
    border-bottom: #a9b5b5 2px solid;
    text-align: center;
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin: 30px auto 25px;
    font-family: 'Poppins', sans-serif;
}

.searchLine {
    /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);  */
}

.searchBox input:focus {
    transition: 0.3s;
    outline: none;
    background-color: white;
}

.searchBox input:focus::-moz-placeholder { color:transparent; }
.searchBox input:focus::-webkit-input-placeholder { color:transparent; }
