.movieInfoBlock {
    margin-left: 60px;
    width: 760px;
    margin-top: 30px;
    overflow: hidden;
    /*border: 2px black solid;*/
}

a {
    text-decoration: none;
    color: black;
}

.movieInfoWrapper hr {
    border: 2px #c4c4c4 solid;
    padding: 0;
    margin: 0;
}

.inlineDiv {
    float: left;
}

.movieInfo {
    width: 400px;
    padding-left: 30px;
}

.moviePictureWrapper {
    width: 1000%;
    overflow: hidden;
}

.moviePicture {
    height: 310px;
    border-radius: 3px;
}

.movieTitle {
    font-size: 20px;
    padding-bottom: 5px;
    /*padding: 0;*/
    font-weight: lighter;
    margin: 0;
}

.movieTagline {
    font-size: 15px;
}

.movieInfoPart {
    margin: 0;
    padding: 5px 0 0;
    font-size: 15px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.moviePlot h4 {
    margin: 0;
    padding: 7px 0 10px;
}

.movieRating {
    padding-top: 10px;
}

.editFormButtonWrapper {
    float: right;
    padding-top: 10px;
    padding-right: 100px;
}

.editFormButtonWrapper button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 80px;
    height: 35px;
    background-color: #DFDFDF;
    border-radius: 3px;
    border: #a9b5b5 2px solid;
    outline: none;
}

.editFormButtonWrapper button:hover {
    transition: 0.3s;
    background-color: white;
    border: #838d8d 2px solid;
}