.movieBlock {
    margin-left: 100px;
    width: 680px;
    margin-top: 30px;
    overflow: hidden;

    /*border: 2px black solid;*/
}

.movieBlock:hover {
    transition: 0.3s;
    background-color: #d0d7d7;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 2px #c4c4c4 solid;
    padding: 0;
    margin: 0;
}

.inlineDiv {
    float: left;
}

.movieInfo {
    border-left-color: #242222; /* Цвет линии слева */
    border-left-style: solid; /* Стиль линии */
    border-left-width: 2px; /* Толщина линии */
    width: 400px;
    margin-left: 50px;
    padding-left: 50px;
}

.moviePictureWrapper {
    width: 1000%;
    overflow: hidden;
}

.moviePicture {
    height: 145px;
    border-radius: 3px;
}

.movieInfoPart strong {
    color: #3a3a3a;
}

.movieTitle {
    padding: 0;
    font-weight: lighter;
    margin: 0;
}

.movieInfoPart {
    margin: 0;
    padding: 5px 0 0 0;
}

.button {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #C4C4C4;
    height: 27px;
}