@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.searchBox {

}

.searchBox input {
    text-align: center;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    padding-left: 10px;
}

.searchResults {

}

