.navbarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: 65px;
    background: #A7B9BA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.navbarMenu ul {
    padding: 0;
}

.navbarMenu ul li {
    display: inline;
    padding-right: 90px;
}

.navbarMenu ul li:last-child {
    padding-right: 0;
}

.navbarMenu ul li a {
    text-decoration: none;
    color: black;
    /*font-weight: bold;*/
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;

    transition: background-size .1s;
}

.navbarMenu ul li a:hover {
    background-size: 100% 1px;
}

.navbarMenu ul li a.activeLink {
    outline: none;
    background-size: 100% 1px;
}

.navbarMenu ul li a:focus {
    outline: none;
}