@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

.mainWrapper {
    margin-top: 30px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently*/
}

.mainWindow {
    width: 1100px;
    background: #DFDFDF;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 #000000;
    overflow: hidden;
}

.content {
    margin-bottom: 30px;
}